



body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("opaque bali pic.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}

/* Video */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* Wind Turbine Animation */


.pole{
	/* width:55px; */
	left: 8%;
	bottom: 0%;
	
	position: absolute;
	z-index: 2;
}

.pole_1{
	/* width:55px; */
	left: 29%;
	bottom: 0%;
	
	position: absolute;
	z-index: 2;
}

.pole_2{
	/* width:55px; */
	left: 55%;
	bottom: 0%;
	
	position: absolute;
	z-index: 2;
}

.pole_3{
	/* width:55px; */
	left: 80%;
	bottom: 0%;
	
	position: absolute;
	z-index: 2;
}				
			
.pole1{
	height: 5.2%;
	width: 9.5%
}

.blades{
		left:7%;
		
		top: -51%;
		transform: translateX(-50%);
		position: absolute;
		z-index: 2;
	}
	.blades img{
		width: 60px;
	}
	
	.blades img:hover{
		
		animation: blades 4s linear infinite;
		
		
	}
	@keyframes blades{
		100%{
			transform: rotate(360deg); 
		}
	}
