

body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("opaque bali pic.jpg");
  min-height: 75%;
}

.menu {
  display: none;
  
}


/* Responsive NavBar */

#flip {
	display: none;
}

#navMenuDrop {
	display: none;
}

#slideshow_container img{
 float:center;

 border-width: 2px;
 border-color: lightgray; 
 width: 100%; 
 height: 50%;
}

.responsive {
  max-width: 100%; 
  height: auto;
}

@media screen and (max-width: 800px){
	#flip {
		display: block;
		float: right;
	}	
	
	#myTopNav {
		display: none;
	}
}



/* Video */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* Wind Turbine Animation */

/* 
.pole{
	
	left: 8%;
	bottom: 0%;
	
	position: absolute;
	z-index: 2;
}

.sml_pole_1{
	
	left: 29%;
	bottom: 0%;
	
	position: absolute;
	z-index: 2;
}


.blades{
		left:7%;
		
		top: -67%;
		transform: translateX(-50%);
		position: absolute;
		z-index: 2;
	}
	.blades img{
		width: 60px;
	}
	
	.blades img:hover{
		
		animation: blades 4s linear infinite;
		
		
	}
	@keyframes blades{
		100%{
			transform: rotate(360deg); 
		}
	}
 */
 
 /* Animation Banner */
 *{
				margin:0;
				padding:0;
			}
			.sky{
				height: 25vh;
				width: 100%;
				background-image: url(images/sky.jpg);
				background-size: cover;
				/*background-position:center; */
				
				position: relative;
				overflow: hidden;
				
				
			}
			
			
			
			
				
			.fore{
				height: 25vh;
				width: 100%;
				
				background-image: url(images/hills.png);
				background-size: cover;
				background-position:center;
				position: relative;
				
				z-index: 1;
				
			}
			.pole{
				width:27px;
				left:77%;
				bottom: 0%;
				
				position: absolute;
				z-index: 2;
			}
			
			
			.pole1{
				height: 75%;
				width: 70%
			}
			
			.pole2{
				width:24px;
				left:54%;
				bottom: -2%;
				
				position: absolute;
				z-index: 1;
			}
			.pol2{
				height: 57%;
				width: 33%;
			}
			
			.pole3{
				width:17px;
				left:30%;
				bottom: 35%;
				
				position: absolute;
				z-index: 0;
			}
			.pol3{
				height: 23%;
				width: 23%;
			}
			.blades{
				left:38%;
				
				top: -183%;
				transform: translateX(-50%);
				position: absolute;
				z-index: 2;
			}
			.blades img{
				width: 600px;
				animation: blades 4s linear infinite;
				
			}
			@keyframes blades{
				100%{
					transform: rotate(360deg); 
				}
			}
			
			.blades2{
				left:15.4%;
				
				top: -81%;
				transform: translateX(-50%);
				position: absolute;
				z-index: 1;
			}
			
			@media only screen and (max-width:1959px){
			
			}
			
			.blades2 img{
				
				width: 11em;
				animation: blades2 6s linear infinite;
			}
			
			@keyframes blades2{
				100%{
					transform: rotate(360deg); 
				}
			}
			
			.blades3{
				left:2px;
				
				top: -90.9%;
				transform: translateX(-50%);
				position: absolute;
				z-index: 0;
			}
			
			.blades3 img{
				
				width: 5.2em;
				animation: blades2 5s linear infinite;
			}
			
			@keyframes blades3{
				100%{
					transform: rotate(360deg); 
				}
			}
